.input {
  width: 100%;
}

.input.error {
  border-color: red;
}

.input.error:focus {
  outline-width: 0;
}

.error-message {
  font-style: italic;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}